// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";


// Rajouter par moi

.card-category {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #7D0117;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.card-category a {
  text-decoration: none;
  color: white;
}

.d-flex {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.show-banner {
  text-align: center;
  margin-bottom: 50px;
}

.add-movies {
  margin-bottom: 40px;
}

.show-container {
  margin-left: 10px;
}

.show-buttons{
  margin-top: 30px;
}

.button-delete-list{
margin-top: 40px;
text-align: center;
background-color: black;
width: 150px;
border-radius: 5px;
margin-bottom: 20px;
margin-left: 20px;

}

.button-delete-list a {
  text-decoration: none;
  color: white;
}
