.navbar-lewagon {
  justify-content: space-between;
  background-color: #F9DF57;
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Rajouter par moi

// .nav {
//   background-color: #F9DF57;
//   color: black;
//   height: 150px;
//   h1 {
//     font-size: 48px;
//     font-weight: bold;
//     text-align: center;

//   }
// }
